.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customCheckbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  margin-top:auto;
  margin-bottom: auto;
}
.customCheckbox:hover {
  background: rgb(255, 173, 173);
}

.type4Text {
  font-size: 0.74em;
  font-weight: 550;
  text-align: start;
  margin-right: auto;
}

.type4Box {
  height: 15px;
}

.type4Box::before {
 line-height: 14px;
}

.checked::before {
  content: "X";
  color: rgb(0, 0, 0); /* Set the color of the 'X' */
  font-size: 15px; /* Adjust the font size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.flex {
  display: flex;
  flex-direction: column;
}

.boxName {
  width: 30px;
  margin-left: auto;
  font-size: 0.8em;
}

.smallText {
  font-size: 0.74em;
}

.codeCheckbox {
  margin-left: -10px;
  margin-right: 8px;
  padding-left: 2px;
  display: inline-block;
  width: 30px;
  height: 20px;
  background: rgb(232, 232, 232);
  border: 1px solid black;
  border-left: 0;
  line-height: 18px;
}

.hiddenCheckbox {
  display: none;
}
.isRed {
    color: red !important;
  }
  
  .isGreen {
    color: green !important;
  }
  