.myTable {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  padding: 10px 10px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.isRed {
  color: red;
}

.title2 {
  margin-bottom: 5px;
  font-weight: 550;
  text-decoration: underline;
}

.addRemoveButton {
  margin: 0 5px;
  background-color: transparent;
  color: #000;
  border: 0.8px solid #ccc;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.addRemoveButton:hover {
  background-color: #ddd;
  color: red;
}
.dateDisplay {
  display: flex;
  flex-wrap: wrap;
}

.dateDisplay > div {
  width: 33%;
}
