.wrapper {
  border: 1px solid black;
}

.title {
  margin-top: 0px;
  font-size: 0.86em;
  font-weight: 550;
}

.titleBox {
  width: 50%;
  border-right: 1px solid black;
}

.type2TitleBox {
  width: 70%;
  flex-direction: row;
  display: flex;
}

.type3TitleBox {
  width: 100%;
  border-right: 0;
  text-align: start;
}

.type2TitleBox > div:first-child {
  margin-right: 7px;
  text-align: center;
}

.topRow {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.bottomRow {
  display: flex;
  flex-direction: row;
}

.bottomRow > * {
  align-content: center;
}

.bottomRow > :not(:last-child) {
  border-right: 1px solid black;
}

.codeBox {
  width: 50%;
  margin: auto;
}

.title2 {
  margin: 5px;
  font-weight: 550;

}

.myList {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}
.myList li {
  font-weight: 550;
}

.subList {
  padding: 10px 0 10px 10px;
  font-size: 0.85em;
  font-weight: 400;
}

.myTableBoxed td {
  border: 1px solid rgb(143, 143, 143);
}
.myTable td {
  height: 1.2em;
  border-collapse: collapse;
  border-bottom: 1px solid rgb(143, 143, 143);
  width: auto;
  font-size: 0.8em;
  min-width: 35px;
}
.myTable {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}




.tdFieldName{
  font-weight: 600;
  font-size: 0.86em;
}

.tdRowName {
  font-size: 0.68em !important;
  text-align: start;
  padding-left: 5px;
}

.linkButton {
  display: inline-block;
  padding: 2px 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  margin-right: 2px;
}

.button {
  display: inline-block;
  padding: 2px 5px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
}
