.myTable {
 
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.myTableBox{
  border: 1px solid black;
  
}

.fieldName {
  font-weight: 600;
}
.keyPair {
  display: flex;
  gap: 8px;
}
.title2 {
  margin: 5px;
  font-weight: 510;

}