.rightPanel {
  width: 20%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto;
}

.panelHeader {
  font-weight: bold;
  margin-bottom: 10px;
}

.nullFieldItem {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}